@import "tailwindcss";

:root {
  --background: #ffffff;
  --second-background: #FAFAFA;
  --primary: #ED5F40;
  --primary-hover: #c84d32; 
  --paragraph: rgba(0, 0, 0, 0.4);
}

@theme {
  --color-primary: var(--primary);
}

@theme inline {
  --color-background: var(--background);
  --color-second-background: var(--second-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Plus Jakarta Sans, sans-serif;
}

button {
  cursor: pointer;
}

li {
  position: relative;
  transition: color 0.3s ease;
}

li:hover {
  color: var(--primary);
  transition: color 0.2s ease;
}

li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary);
  transition: width 0.3s ease;
}

li:hover::after {
  width: 100%;
}

.header-hero-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--background);
  font-size: 16px;
  line-height: 1.5;
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 9px;
  font-weight: 600;
}

.primary-button {
  transition: all 0.2s linear 0s;
}

.primary-button:hover {
  background-color: var(--primary-hover);
}

.primary-button:hover::after {
  background-color: var(--primary);
}


.hero-button {
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  gap: 4px;
  justify-items: center;
  font-size: 16px;
  line-height: 1.5;
}

.about-us-button {
  display: flex;
  gap: 4px;
  justify-items: center;
  font-size: 14px;
  line-height: 1.25;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  width: 39px;
  height: 37px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter:hover {
  border-color: rgba(195, 212, 233, 1);
}

.filter-separator {
  background-color: #596780;
  border-radius: 2px;
  width: 18px;
  height: 3px;
}


@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-on-dekstop {
    display: none;
  }
}

/* @media (max-width: 1280px) {
  ul {
    font-size: 16px;
    gap: 24px;
  }
} */

@media (max-width: 1024px) {
  /* ul {
    font-size: 14px;
    gap: 16px;
  } */

  .header-button {
    font-size: 14px;
    padding-inline: 12px;
    padding-block: 8px;
  }
}