@import "tailwindcss";

:root {
  --background: #ffffff;
  --second-background: #FAFAFA;
  --primary: #ED5F40;
  --primary-hover: #c84d32; 
  --paragraph: rgba(0, 0, 0, 0.4);
}

@theme {
  --color-weband: var(--primary);
}

@theme inline {
  --color-background: var(--background);
  --color-second-background: var(--second-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Plus Jakarta Sans, sans-serif;
}

button {
  cursor: pointer;
}

p {
  color: var(--paragraph);
  font-size: 20px;
  line-height: 1.25;
  font-weight: 300;
}

ul {
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  display: flex;
  gap: 32px;
  justify-items: center;
}

li {
  position: relative;
  transition: color 0.3s ease; /* Плавное изменение цвета текста */
}

li:hover {
  color: var(--primary);
  transition: color 0.2s ease;
}

li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary);
  transition: width 0.3s ease; /* Плавное расширение полоски */
}

li:hover::after {
  width: 100%; /* Полоска заполняет ширину при наведении */
}

.header-button {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: var(--background);
  font-size: 16px;
  line-height: 1.5;
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 9px;
  font-weight: 600;
}

.primary-button {
  transition: all 0.2s linear 0s;
}

.primary-button:hover {
  background-color: var(--primary-hover);
}

.primary-button:hover::after {
  background-color: var(--primary);
}



.hero-button {
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  gap: 4px;
  justify-items: center;
  font-size: 16px;
  line-height: 1.5;
}

.about-us-button {
  display: flex;
  gap: 4px;
  justify-items: center;
  font-size: 14px;
  line-height: 1.25;
}
